/* Base styles */
.retreatCard {
    padding: 1vw;
    width: 28vw;
    height: 350px; /* Half of the screen height */
    background-color: #e0d9cf; /* Light background color */
    border-radius: 7px; /* Nice looking border radius */
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.retreatImage {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 7px; /* Nice looking border radius */
}

.retreatTitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.retreatDescription, .retreatDate {
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .retreatCard {
        width: 90vw; /* Adjust width for very small screens */
        margin: 2vw auto; /* Center the card */
        padding: 2vw;
    }

    .retreatImage {
        width: 100%;
        height: 45%;
        object-fit: cover;
        border-radius: 7px; /* Nice looking border radius */
    }
}

@media (max-width: 480px) {
    .retreatCard {
        width: 90vw; /* Adjust width for very small screens */
        margin: 5vw auto; /* Center the card */
        padding: 2vw;
        height: 50vh;
    }

    .retreatImage {
        width: 100%;
        height: 45%;
        object-fit: cover;
        border-radius: 7px; /* Nice looking border radius */
    }
}
